body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #7e7f80;
    padding: 30px;
}

.container{
    max-width: 400px;
    background-color: aliceblue;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    margin: auto;
}

h1{
    text-align: center;
    color: rgb(9, 11, 15);
}

label{
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

input[type="password"], input[type="text"]{
    width:372px;
    padding: 10px;
    font-size: 16px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 6px; 
}

.checkbox {
      display: flex;
      align-items: center;
      gap: 5px;
}

.checkbox label {
    display: inline-block;
    margin: 0;
    font-weight: bold;
    vertical-align: middle;
}

.stroked {
    -webkit-text-stroke: 0px #000000;

    color: #fff;

    text-shadow:
       1px 1px 0 #000,
      -1px -1px 0 #000,
       1px -1px 0 #000,
      -1px 1px 0 #000,
       0 1px 0 #000,
       0 -1px 0 #000,
       1px 0 0 #000,
      -1px 0 0 #000;
}
